/* NON SHIBE MODE */

input    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

body{
	margin: 0;
	padding: 0;
}

h2{
	margin: 0;
	padding: 1em 0;
}

#shibe    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
position:relative;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
padding: 0 10px;
}

p, li{
	color: #222;
}

input.button {
background:#09C;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1p solid #999;
}
input.button:hover {
background:#fff;
color:#09C;
}

textarea:focus, input:focus {
border: 1px solid #09C;
}

#github{
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	width: 149px;
	height: 149px;
	background-image:url(./img/forkme_boring.png);
}

.wow{
	display: none;
}

/* SHIBE MODE */

.shibemode div#github{
	background-image:url(./img/forkme_shibe.png);
}

#shibe.shibemode{
	background-image: url(./img/shibe.jpg);
	background-repeat: repeat-x repeat-y;
}

.shibemode .wow{
	display: block;
}

.shibemode div{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.shibemode p:nth-child(1), .shibemode li:nth-child(1){
	color: blue;
	padding-left: 2em;
}

.shibemode p:nth-child(2), .shibemode li:nth-child(2){
	color: red;
	padding-left: 6em;
}

.shibemode p:nth-child(3), .shibemode li:nth-child(3){
	color: yellow;
	padding-left: 10em;
}

.shibemode p:nth-child(4), .shibemode li:nth-child(4){
	color: green;
	padding-left: 1em;
}

.shibemode p:nth-child(5), .shibemode li:nth-child(5){
	color: #ff00ff;
	padding-left: 5em;
}

.shibemode p{
	margin: 0;
	padding: 1em 0;
}
